{% load permissions %}
{% with request.resolver_match.url_name as url_name %}

<a class="nav-link {% if url_name == 'index' %}active{% endif %}" href="{% url 'index' %}" data-navindex="0">SchoolHub</a>

{% if request.user.is_authenticated %}
  <a class="nav-link {% if url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}" data-navindex="1">Профіль</a>

  {% if request.user|has_permission:"CB" %}
    <a class="nav-link {% if url_name == 'create_book' %}active{% endif %}" href="{% url 'create_book' %}" data-navindex="2">Забронювати</a>
  {% endif %}

  {% if request.user|has_permission:"RB" %}
    <a class="nav-link {% if url_name == 'resource' %}active{% endif %}" href="{% url 'resource' %}" data-navindex="3">Бронювання</a>
  {% endif %}

  {% if request.user|has_permission:"RS" %}
    <a class="nav-link {% if url_name == 'schedule_view' %}active{% endif %}" href="{% url 'schedule_view' %}" data-navindex="4">Розклад</a>
  {% endif %}

  {% if request.user|has_permission:"CS" %}
    <a class="nav-link {% if url_name == 'add_schedule' %}active{% endif %}" href="{% url 'add_schedule' %}" data-navindex="5">Додати заняття</a>
  {% endif %}

  <a class="nav-link {% if url_name == 'logout_view' %}active{% endif %}" href="{% url 'logout_view' %}" data-navindex="6">Вихід</a>

{% else %}
  <a class="nav-link {% if url_name == 'sign_in' %}active{% endif %}" href="{% url 'sign_in' %}" data-navindex="1">Вхід</a>
  <a class="nav-link {% if url_name == 'sign_up' %}active{% endif %}" href="{% url 'sign_up' %}" data-navindex="2">Реєстрація</a>
{% endif %}

{% endwith %}